@use '@/styles/globals' as *;

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    padding: calc($grid-1x + $grid-half) 0;
    cursor: pointer;

    &:last-child {
        border-radius: 0 0 $grid-1x $grid-1x;
        border-bottom: none;
        padding-bottom: 0;
    }
}

.icon {
    padding-right: $grid-1x;
}

.left,
.right {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    font-weight: 600;
    margin: 0;
    line-height: 16px;
    color: var(--color-text-secondary);
}

.chevron {
    width: $grid-3x;
    height: $grid-3x;
    color: var(--color-text-secondary);
}