@use '@/styles/globals' as *;

.host {
  max-width: $medium-width;
  margin: 0 auto;
  padding: $grid-2x $grid-2x;
  display: flex;
  flex-direction: column;
  gap: $grid-2x;
  margin-bottom: $grid-5x;

  .hostTitle {
    margin: 0;
  }

  .hostSubtitle {
    margin: 0;
    color: var(--color-text-secondary)
  }

  .hostHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}