@use '@/styles/globals' as *;

.label {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-text);
}

.form {
    display: flex;
    flex-direction: column;
    gap: $grid-1x;
}

.field {
    display: flex;
    flex-direction: column;
}