@use '@/styles/globals' as *;

.buttonAsync {
    position: relative;
    width: 100%;
    border: none;
    border-radius: var(--radius-sm);
    height: var(--btn-height, $grid-5x);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    padding: 0 $grid-2x;

    &:disabled:not(.failed) {
        opacity: 0.6;
        cursor: default;
    }

    &.primary {
        background-color: var(--color-accent);
        color: var(--color-surface);

        &:hover:not(:disabled) {
            background-color: var(--color-accent-dark);
        }
    }

    &.secondary {
        background: none;
        border: 1px solid var(--color-border);

        &:hover:not(:disabled) {
            border-color: var(--color-accent);
            color: var(--color-accent);
        }
    }

    &.warn {
        background: var(--color-warn);
        color: var(--color-surface);

        &:hover:not(:disabled) {
            background-color: var(--color-warn-dark);
        }
    }

    &.failed {
        background: var(--color-warn);
        color: var(--color-surface);
        border-color: var(--color-warn);

        &:hover:not(:disabled) {
            background: var(--color-warn);
        }
    }

    &.failed svg,
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .buttonText.hidden {
        visibility: hidden;
    }
}