@use '@/styles/globals' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  gap: $grid-2x;

  .button {
    height: $grid-4x;
    padding: calc($grid-1x + $grid-half);
    font-size: calc($grid-1x + $grid-half + $grid-fourth);
    line-height: calc($grid-2x + $grid-half);
  }
}

.profile {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background: #cce2da;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .profileIconWrapper {
    position: relative;
    top: 20%;
  }

  svg {
    color: #518674;
    width: 32px;
    height: 32px;
  }
}

.right,
.left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: $grid-1x;
  align-items: center;
}

.points {
  cursor: pointer;
  color: var(--color-accent);
  font-weight: 600;
  font-size: calc($grid-2x + $grid-half);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $grid-fourth;
  min-width: calc($grid-5x + $grid-3x);
  justify-content: flex-end ;

  svg {
    width: $grid-2x;
    height: $grid-2x;
  }
}

.roleBadge {
  font-size: calc($grid-1x + $grid-half);
  font-weight: 600;
  padding: $grid-half calc($grid-1x + $grid-fourth);
  color: var(--color-surface);
  border-radius: 999px;
}

.roleDriver {
  background-color: var(--color-accent);
}

.roleSponsor {
  background-color: var(--color-caution);
}

.roleAdmin {
  background-color: var(--color-warn);
}

.home {
  font-family: var(--font-heading);
  text-decoration: none;
  font-weight: bold;
  font-size: $grid-3x;
  color: var(--color-accent);
}

.banner {
  padding: $grid-1x;
  color: var(--color-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $grid-2x;
  background: var(--color-warn);

  button.sessionButton {
    width: fit-content;
    background: none;
    color: var(--color-surface);
    border: 1px solid var(--color-surface);
    padding: 0 $grid-1x;

    &:hover:not(:disabled) {
      border: 1px solid var(--color-surface);
    }
  }

  p {
    margin: 0;
  }
}

@media only screen and (max-width : $small-width) {
  .navbar {
    padding: 0 $grid-2x;
  }
}