@use '@/styles/globals' as *;

.reason {
    display: flex;
    flex-direction: column;
    gap: $grid-1x;

    textarea {
        font-size: 0.8rem;
        font-family: var(--font-body);
        min-height: 80px;
        border: 1px solid var(--color-border);
        border-radius: var(--radius-sm);
        padding: $grid-1x;
        font-size: var(--font-size-medium);
        background: var(--color-surface);
        color: var(--color-text);

        &:focus {
            outline: none;
            border-color: var(--color-accent);
        }
    }
}