@use '@/styles/globals' as *;

.card {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: $grid-3x;
  box-shadow: var(--shadow-sm);
}

.card.primary {
  background: var(--color-accent);
  color: var(--color-surface);
  border: none;

  .body {
    color: var(--color-surface)
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $grid-2x;
  margin-bottom: $grid-3x;
  flex-wrap: wrap;
}

.title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-text);
  margin: 0 0 4px;  
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.body {
  // padding: 0 $grid-3x calc($grid-2x + $grid-half) $grid-3x;
  color: var(--color-text-secondary)
}

.footer {
  padding: $grid-2x $grid-3x;
}