@use '@/styles/globals' as *;

.textInput {


    margin-bottom: $grid-2x;
}

.inputWrapper {
    position: relative;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: $grid-half;
    padding: $grid-1x;
    
    font-size: var(--font-size-medium);
    background: var(--color-surface);
    color: var(--color-text);

    // margin-bottom: $grid-2x $grid-3x;

    // &.withLabel {
    //     padding-top: $grid-1x;
    // }

    &:not(.invalid):focus-within {
        border-color: var(--color-accent);

        svg {
            color: var(--color-accent);
        }

        label {
            color: var(--color-accent);
        }
    }

    &.invalid {
        border-color: var(--color-warn);

        svg {
            color: var(--color-warn);
        }

        label {
            color: var(--color-warn);
        }
    }

    input {
        padding-left: $grid-half;
        border: none;
        outline: none;
        background: none;
        font-size: 1rem;
    }

    svg {
        width: calc($grid-2x);
        height: calc($grid-2x);
        color: var(--color-text-secondary);

        // &.left {
        //     margin-left: $grid-1x;
        // }

        // &.right {
        //     margin-right: $grid-1x;
        // }
    }

    label {
        position: absolute;
        top: -10px;
        left: 12px;
        font-size: 12px;
        color: #6b7280;
        pointer-events: none;
        background: white;
        padding: 0 4px;
    }
}